<!DOCTYPE html>
<html>
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RedShift | Settings Management</title>
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


    <link href="~/css/bootstrap/bootstrap431min.css" rel="stylesheet" />

    <link href="~/css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="~/css/toast/jquery_toast.min.css" rel="stylesheet" />


    <script src="~/js/jquery-3.3.1.min.js"></script>


    <script src="~/js/bootstrap4_0_0_min/proper_1_11_0_min.js"></script>

    <script src="~/js/bootstrap4_0_0_min/bootstrap_min_4_0_0.js"></script>

    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>



    <script src="~/js/Layout.js"></script>

    <script src="~/js/Rx-5.0.0.js"></script>

    <script src="~/js/axios.min.js"></script>





    <script src="~/js/sweet_alert/sweetalert2@8.js"></script>

    <script src="~/js/promise.min.js.js"></script>

    <script src="~/js/jquery.toast.min.js"></script>



    <script src="~/js/_core_processor.js"></script>

    <script src="~/js/ajax_jquery_3_4_0.min.js"></script>

    <script src="~/js/Layout.js"></script>

    @*<script src="~/js/Layout.js"></script>*@

    <script src="~/js/popper/popper.js"></script>



    <environment include="Development">

    </environment>
</head>
<body>

    @*<div class="container">*@
    @*<div class="row header topheader">*@
    <div class="row topheader">
        <div class="col-lg-2 col-md-2 brand_logo">
            <a href="http://localhost:40160" style="padding-left:30px"><img class="logoimg" src="~/images/robi_logo.png" /></a>
        </div>
        <div class="col-lg-6 header-text" style="margin-top:10px;">
            <span class="">
                ROBI SVS  SETTINGS MANAGEMENT
            </span>
        </div>
        <div class="col-lg-1 col-md-1">
            @*<img src="~/images/Icon_notification-32.png" style="margin-left:50px;" />*@
        </div>
        <div class="col-lg-1 col-md-1" style="cursor:pointer" title="notification">


        </div>

        @*This is show UserName Text <div class="col-lg-2 txtSessionUser" style="text-align:right;color:#b21935;margin-top:15px;font-size:large;"></div>*@
        <div class="col-lg-1 col-md-1">
            @*<img style="float:right" height="45" width="45" src="~/images/profileIcon.jpg" />*@

            <img src="~/images/Icon_notification-32.png" style="margin-left:90px; height:35px; width:35px;margin-top:15px" />


            @*<img style="float:right" height="45" width="45" src="~/images/logout.png" />*@
        </div>

        <div class="col-lg-1 col-md-1" style="cursor:pointer" title="Logout">

          

            <div class="dropdown">

                <img class="dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="~/images/Shared/Icon-60_user_menu_down_icon.png" style="float:left ;margin-left:20px;height:50px; width:50px;margin-top:10px;" />
           
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="font-size:18px;">

                    <button class="dropdown-item btnprofilename" type="button">Name</button>
                    <button class="dropdown-item btn_logout" type="button">Logout</button>
                    
                </div>
            </div>

        </div>


        @*<div class="col-lg-1 col-md-1 btn_logout" style="cursor:pointer" title="Logout">

            <img src="~/images/Shared/Icon-60_user_menu_down_icon.png" style="float:left ;margin-left:20px;height:50px; width:50px;margin-top:10px;" />

            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Reports</a>
                <a href="#" class="dropdown-item">Settings</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Logout</a>
            </div>

        </div>*@

    </div>

    <div class="navbars">
        <div class="row">

            <div id="hvr_home" class="subnav mousehover hvr_home" data-value="1" style="cursor:pointer;">

                <img class="menuIcon" id="imgHome" src="~/images/Shared/Home_White_40.png" />

                <p class="pRobiAxiata" id="pHome" style="width:110px; color:white;"> Home <br /> DashBoard </p>

            </div>

            
           
                <div class="subnav mousehover hvr_general_settings hvrALL" data-value="1" style="cursor:pointer;">

                    <img class="menuIcon" id="imgGeneralSettings" src="~/images/Shared/Icon-60_general_Settings_White.png" />

                    <p class="pRobiAxiata" id="pgeneralsettings" style="width:110px; color:white;"> General <br /> Settings </p>

                    <div class="subnav-content subnav-gsetings">

                        <div class="triangle-down tridown_subnav_gsttings"></div>

                        <div class="btngenset" style="text-align:justify;margin-top:10px;">
                            @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@

                            @*<button class="button btnprocess" value="1" style="margin-right:50px;text-align:center;" onclick="window.location.href='/GeneralSettings/Process'">Process</button>*@

                            <button class="button btnAppSettings" value="2" style="margin-right:50px;" onclick="window.location.href='../GeneralSettings/AppSettings'">App Settings</button>

                            <button class="button btnAdSettings" value="3" style="margin-right:50px;" onclick="window.location.href='../GeneralSettings/AdSettings'">Ad Settings</button>

                            <button class="button btnconfi_controls" value="3" style="margin-right:50px;" onclick="window.location.href='../GeneralSettings/Configaration_Controls'">Configaration Controls</button>

                            <button class="button btnFTR" value="3" style="margin-right:50px;" onclick="window.location.href='../GeneralSettings/FTR'">FTR</button>

                        </div>
                    </div>
                </div>
            

            <div id="ssss" class="subnav mousehover hvr_channel_mgt hvrALL" style="cursor:pointer;">
                @*style="height:initial"*@
                @*style="height: 150px"*@
                <img class="menuIcon" id="imgchannelmgt" src="~/images/Shared/Icon-60_chanel_mgt_White.png" />

                <p class="pRobiAxiata" id="pchanllenmgt" style="width:110px; color:white;">Channel <br /> Management </p>

                @*font-size:94%*@

                <div class="subnav-content subnavschnl">
                    @*style="height:initial"*@
                    <div class="triangle-down tringle_chnl"></div>
                    <div class="btnchanelMgt" style="text-align:justify;margin-top:10px;">
                        <button class="button btnchnl" style="margin-right:50px;" onclick="window.location.href='../ChannelManagement/Chennel'">Channel</button>
                        <button class="button btnsettings" style="margin-right:50px;" onclick="window.location.href='../ChannelManagement/Settings'">Settings</button>
                    </div>
                </div>
            </div>


            <div class="subnav mousehover hvr_User_mgt" style="cursor:pointer;">
                @*style="height: 150px"*@
                <img class="menuIcon" id="imgUserMgt" src="~/images/Shared/Icon-60_user_mgt_white.png" />

                <p class="pRobiAxiata" id="puserMgt" style="width:110px; color:white;">User <br /> Management </p>

                @*font-size:94%*@

                <div class="subnav-content subnavusrmgt">
                    @*style="height:initial"*@
                    <div class="triangle-down tringle_usMgt"></div>
                    <div id="btnUserMgt" class="btnUserMgt" style="text-align:justify;margin-top:10px;!important;">

                        <button class="button btnusr" style="margin-right:50px;" onclick="window.location.href='../UserManagement/Users'">User</button>
                        <button class="button btnrole" style="margin-right:50px;" onclick="window.location.href='../UserManagement/Role'">Role</button>

                    </div>
                </div>
            </div>



            <div class="subnav mousehover hvr_Err_Hndle" style="cursor:pointer;">

                <img class="menuIcon" id="img_Err_Hndle" src="~/images/Shared/Icon_Err_Hndle_White-60.png" />

                <p class="pRobiAxiata" id="pErrHndle" style="width:110px; color:white;">Special <br /> Cases </p>

                <div class="subnav-content subnaverrhndle">

                    <div class="triangle-down tringle_spclcase" style="position:absolute;margin-left:55.5%;"></div>

                    <div id="btnspclCase" class="btnspclCase" style="text-align:justify;margin-top:10px !important;">

                        <button class="button btn_own_trnfer" style="margin-right:50px;" onclick="window.location.href='../ErrorHandeling/OwnershipTransfer'">Ownership Transfer</button>

                        <button class="button btnActIntval" style="margin-right:50px;" onclick="window.location.href='../ErrorHandeling/ActivationInterval'">Activation Interval</button>

                        <button class="button btn_commisionUpload" style="margin-right:50px;" onclick="window.location.href='../ErrorHandeling/commisionUpload'">Commision Upload</button>

                        <button class="button btn_DoNotSimChange" style="margin-right:50px;" onclick="window.location.href='../ErrorHandeling/NotSimChange'">Do Not Sim Change</button>
                    </div>
                </div>
            </div>


            <div class="subnav mousehover hvr_Reports" style="cursor:pointer;">
               
                <img class="menuIcon" id="img_Reports" src="~/images/Shared/Reports_White_Icon-60.png" />

                <p class="pRobiAxiata" id="pReports" style="width:110px; color:white;"> System <br /> Report </p>

                <div class="subnav-content subnav_Reports_transaction">
                  
                    <div class="triangle-down trinangle_Reports" ></div>

                    <div id="btnReports" class="btnReports" style="text-align:justify;margin-top:10px !important;">

                        <button class="button btn_Transaction_Reports" style="margin-right:50px;" onclick="window.location.href='../Reports/GetTransaction'">Transaction Report</button>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="view_Container">
        @RenderBody()
    </div>


    @*<footer>
                <p>&copy; 2019 Robi Axiata Limited</p>
        </footer>*@
    @*<object class="" style="width:0px;height:0px;display:none" type="" name="DemoActiveX" classid="clsid:80B59B58-98EA-303C-BE83-D26E5D8D6794" codebase="CSActiveX.cab"></object>*@
    @*</div>*@

    @RenderSection("Scripts", required: false)
    @*progressLoader*@
    @*<div id="showProgress" class="modal">
            <div class="progressLoader"></div>
        </div>*@

</body>
</html>
<style>
    .btn_update {
        display: none
    }

    .topheader {
        height: 60px;
    }
</style>



