
@{
    ViewData["Title"] = "UserAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .nextRow {
        padding-top: 30px;
    }



</style>

<link href="~/css/bootstrap/bootstrap431min.css" rel="stylesheet" />
<link href="~/css/datepicker/bootstrapDatepicker.css" rel="stylesheet" />

<link href="~/css/site.css" rel="stylesheet" />
@*<link href="~/css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@

<link rel="stylesheet" href="/resources/demos/style.css">

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrapDatepicker2/bootstrapDatepicker.js"></script>
<script src="~/js/User Management/UserAdd.js"></script>

<h2 style="padding-top:50px"></h2>

<div class="row" style="padding-top:25px;padding-bottom:15px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="alldiv" >
            <div class="altblhead">
                <h2 class="hdrRobiAxia">
                    Add New User
                </h2>
            </div>

            <div class="row" style="padding-top:30px;padding-bottom:30px;">
                <div class="col-md-2 col-md-offset-1 dvRobiMedium"> UserName </div>
                <div class="col-md-3" style="width:initial">

                    <input type="text" class="form-control txtusername txtboxdesign" required>

                </div>
                <div class="col-md-2 dvRobiMedium">
                    Date Of Birth
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control datepickers txtboxdesign" required>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-2 col-md-offset-1 dvRobiMedium nextRow">
                    First Name
                </div>
                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtfirstName txtboxdesign" required>
                </div>
                <div class="col-md-2 dvRobiMedium  nextRow">
                    Last Name
                </div>
                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtlastName txtboxdesign" required>
                </div>
                <div class="col-md-1 nextRow">

                </div>
                <div class="col-md-2 dvRobiMedium col-md-offset-1 nextRow">
                    Select Role
                </div>
                <div class="col-md-3 nextRow" style="width:initial">


                    <select class="form-control usrole txtboxdesign" id="usrole">
                        <option>Select Role</option>
                    </select>


                </div>
                <div class="col-md-2 dvRobiMedium nextRow">
                    Select Channel
                </div>
                <div class="col-md-3 nextRow" style="width:initial">


                    <select class="form-control usrchannel txtboxdesign" id="usrchannel">
                        <option>Select Channel</option>
                    </select>


                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 col-md-offset-1  dvRobiMedium  nextRow">
                    Email
                </div>
                <div class="col-md-3 nextRow">
                    <input type="email" class="form-control txtemail txtboxdesign" required>
                </div>


                <div class="col-md-2 dvRobiMedium nextRow">
                    Address
                </div>
                <div class="col-md-3 nextRow">
                    <textarea class="form-control txtaddress" rows="3" placeholder="Address" required></textarea>
                </div>
                <div class="col-md-1 nextRow">

                </div>
                <div class="col-md-2 col-md-offset-1 dvRobiMedium nextRow">
                    Contact
                </div>
                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtContact txtboxdesign" required>
                </div>

                <div class="col-md-2   dvRobiMedium  nextRow">
                    Retailer MSISDN Airtel
                </div>


                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtRetailerMSISDNAirtel txtboxdesign" required>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-2 col-md-offset-1  dvRobiMedium  nextRow">
                    Retailer MSISDN Robi
                </div>

                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtRetailerMSISDNRobi txtboxdesign" required>
                </div>
                <div class="col-md-2   dvRobiMedium  nextRow">
                    Retailer Code Airtel
                </div>

                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtRetailerCodeAirtel txtboxdesign" required>
                </div>

                <div class="col-md-2 col-md-offset-1  dvRobiMedium  nextRow">
                    Retailer Code Robi
                </div>

                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtRetailerCodeRobi txtboxdesign" required>
                </div>

                <div class="col-md-1 nextRow dvRobiMedium">
                    Password
                    
                </div>

                <div class="col-md-3 nextRow">
                    <input type="text" class="form-control txtPasswordGenerator txtboxdesign" required  data-size="12" data-character-set="a-z,A-Z,0-9,#">
                </div>

                <div class="col-md-2 nextRow dvRobiMedium">
                    <button type="button" class="btn btn-primary btnpasswordGenerate  allbutton btnCommonAll">Password Generator</button>
                </div>


                <div class="col-md-3 col-md-offset-5 nextRow">
                    <button type="button" class="btn btn-block btn-success btnAddUser allbutton btnCommonAll" style="color:white;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $(".datepickers").datepicker();
    });
    //var $j = jQuery.noConflict();
    ////$j("#datepickers").datepicker();
    //$j('.datepickers').datepicker({
    //    format: 'mm-dd-yyyy'
    //});
</script>

