


@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="~/css/site.css" rel="stylesheet" />
<link type="text/css" href="~/css/DataTable/DataTable_1_10_19.css" rel="stylesheet" />

<script src="~/js/_core_processor.js"></script>
<script src="~/js/cookie/jquery_cookie_1_3_1.js"></script>
<script src="~/js/User Management/userManagement.js"></script>
<script src="~/js/jquery_CSV/jquery_csv_1_0_5.js"></script>

<script type="text/javascript" src="~/js/DataTable/DataTable_1_10_19.js"></script>
<script src="~/js/DataTable/Datatables_button_1_5_6.js"></script>
<script src="~/js/DataTable/buttons_flash_1_5_6.js"></script>
<script src="~/js/DataTable/ajax_jszip_3_1_3.js"></script>
<script src="~/js/DataTable/ajax_0_1_53_pdfMake.js"></script>
<script src="~/js/DataTable/pdfMake_0_1_53_vfsFonts.js"></script>
<script src="~/js/DataTable/buttons_1_5_6_html5_buttons.js"></script>
<script src="~/js/DataTable/buttons_1_5_6_print.js"></script>
<script src="~/js/jquery_delete_confirmation/bootstrap-confirm-delete.js"></script>

<style>

    #load {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url('/images/loader/lg.comet-spinner.gif') no-repeat center center rgba(0,0,0,0.25);
        /*background: url('../../wwwroot/images/loader/lg.comet-spinner.gif') !important;*/
    }

    .btn_Search {
        /*background-image: url('../../wwwroot/images/buttons/search_btn_bg_#2f3242.png');*/
        /*background-image: url('../images/buttons/search_btn_bg_#2f3242.png');*/
        background-color: #2f3242;
        cursor: pointer;
        border: none;
        color: white;
    }

    .btn_Export {
        background-color: #842e62;
        cursor: pointer;
        border: none;
        color: white;
    }

    .btn_btnOperation {
        background-color: #b9264d;
        cursor: pointer;
        border: none;
        color: white;
    }

    .nextRow {
        padding-top: 20px;
    }

    .txtboxdesign {
        border-radius: 5px;
        height: 30px;
    }


    #usertable_paginate {
        text-align: center;
        width: 100%;
    }

    .paginate_button {
        width: 50px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: white;
        border-color: #a7a9ac;
    }

    #usertable_previous {
        width: 80px;
        padding-right: 80px;
        background-color: #d1d3d4;
    }

    #usertable_next {
        width: 80px;
        background-color: #d1d3d4;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background: #5c7988;
    }








    /*.imgdelete {
        padding-left:100px;
    }
    img.imgdelete {
        padding-left: 100px;
    }*/
</style>
<h2 style="padding-top:40px"></h2>
<div id="load"></div>
<div class="row" style="padding-top:40px">
    <div class="col-md-1 col-md-offset-1 dvRobiMedium">
        UserName
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control txtusename txtboxdesign" id="txtusrname">
    </div>
    <div class="col-md-1 dvRobiMedium">
        Select Role
    </div>
    <div class="col-md-2">
        <select class="form-control usrole txtboxdesign" id="usrole">
            <option>Choose Role</option>
        </select>
    </div>
    <div class="col-md-1">

        <button type="button" class="btn btn-dark btn_Search allbutton btnCommonAll" style="color:white;width:80px">Search</button>

    </div>
    <div class="col-md-1">
        <button type="button" class="btn  btn_Export allbutton btnCommonAll" style="color:white;width:80px">Export</button>

    </div>
    <div class="col-md-2">

        <button type="button" class="btn  btn_btnOperation allbutton btnCommonAll" style="color:white;width:90px" hidden>Batch Operation</button>

    </div>
    <div class="col-md-1">

    </div>

    <div class="col-md-10 col-md-offset-1 nextRow">
        <div class="alldiv">

            <div class="altblhead">
                <h2 class="hdrRobiAxia">
                    User Information

                    <button type="button" onclick="location.href='./UserAdd'" class="btn btn-dark channeladd" style="float:right;color:white;">Add</button>

                </h2>
                
            </div>

            <table id="usertable" class="col-md-12 col-xs-12 table tblcustom"
                    width:100% !important">

                <thead id="usthead">
                    <tr>
                        <th class="dvRobiMedium" style="text-align:center;width:70px;">#</th>
                        <th class="dvRobiMedium" style="text-align:center;width:200px;" class="col-xs-2">User Name</th>  @*class="col-xs-2"  width:100px;     *@
                        <th class="dvRobiMedium" style="text-align:center;width:200px;" class="col-xs-2">First Name</th> @*class="col-xs-2"  width:100px;    *@
                        <th class="dvRobiMedium" style="text-align:center;width:200px;" class="col-xs-2">Last Name</th> @*class="col-xs-2"  width:100px;   *@
                        <th class="dvRobiMedium" style="text-align:center;width:300px;" class="col-xs-2">Email</th> @*class="col-xs-2"  width:100px;   *@
                        <th class="dvRobiMedium" style="text-align:center;width:200px;" class="col-xs-2">Role</th> @*class="col-xs-2"   width:100px;   *@
                        <th class="dvRobiMedium" style="text-align:center;width:200px;" class="col-xs-2"></th> @*class="col-xs-2"   width:100px    *@
                    </tr>
                </thead>
                <tbody id="tbl_UserList"></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

<script>

    document.onreadystatechange = function () {

        var state = document.readyState
        if (state == 'complete') {
            setTimeout(function () {
                document.getElementById('interactive');
                document.getElementById('load').style.visibility = "hidden";
            }, 1500);
        }
    }

</script>
