
@{
    ViewData["Title"] = "NotSimChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #load {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url('/images/loader/lg.comet-spinner.gif') no-repeat center center rgba(0,0,0,0.25);
        /*background: url('../../wwwroot/images/loader/lg.comet-spinner.gif') !important;*/
    }

    .nextrow {
        padding-top: 10px;
    }

    #fileuploadfile {
        width: 100% !important;
    }

    #tbl_DoNotSimChange_paginate {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .paginate_button {
        width: 50px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: white;
        border-color: #a7a9ac;
        padding-top: 10px;
        padding-bottom: 100px;
    }

    #tbl_DoNotSimChange_previous {
        width: 80px;
        padding-right: 80px;
        background-color: #d1d3d4;
    }

    #tbl_DoNotSimChange_next {
        width: 80px;
        background-color: #d1d3d4;
    }

    .current {
        background: #5c7988 !important;
    }




</style>
<link href="~/css/bootstrap/bootstrap431min.css" rel="stylesheet" />

<link href="~/css/Delete_Confirmation/bootstrap-confirm-delete.css" rel="stylesheet" />
<link type="text/css" href="~/css/DataTable/DataTable_1_10_19.css" rel="stylesheet" />


<link href="~/css/site.css" rel="stylesheet" />

<link rel="stylesheet" href="/resources/demos/style.css">

<script src="~/js/jquery-3.3.1.min.js"></script>

<script src="~/js/Special Case/NotSimChange.js"></script>

<script type="text/javascript" src="~/js/DataTable/DataTable_1_10_19.js"></script>


<script src="~/js/DataTable/Datatables_button_1_5_6.js"></script>
<script src="~/js/DataTable/buttons_flash_1_5_6.js"></script>
<script src="~/js/DataTable/ajax_jszip_3_1_3.js"></script>
<script src="~/js/DataTable/ajax_0_1_53_pdfMake.js"></script>
<script src="~/js/DataTable/pdfMake_0_1_53_vfsFonts.js"></script>
<script src="~/js/DataTable/buttons_1_5_6_html5_buttons.js"></script>
<script src="~/js/DataTable/buttons_1_5_6_print.js"></script>
<script src="~/js/jquery_delete_confirmation/bootstrap-confirm-delete.js"></script>



<h2 style="padding-top:50px"></h2>

<div id="load"></div>

<div class="row" style="padding-top:30px">
    <div class="col-md-10 col-md-offset-1">
        <div class="alldiv">
            <div class="altblhead">
                <h2 class="hdrRobiAxia"> Do Not Sim Change </h2>
            </div>
            <div class="row" style="padding-top:30px;padding-bottom:30px;">

                <div class="col-md-1 col-md-offset-1 pRobiAxiata">MSISDN</div>
                <div class="col-md-4">
                    <input type="number" class="form-control txtMSISDN txtboxdesign inputFont" id="txtMSISDN">
                    <input type="number" class="txtNotSimChangeID" id="txtownID" hidden>
                </div>
                <div class="col-md-1 pRobiAxiata">
                    SIM Serial Or ICC ID
                </div>
                <div class="col-md-4 padding-0">
                    <input type="number" class="form-control txtsimSerialID txtboxdesign inputFont" id="txtsimSerialID">
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-1 col-md-offset-1 pRobiAxiata nextrow">File Name</div>
                <div class="col-md-7 nextrow">

                    <div class="custom-file mb-3 ">
                        <input type="file" class="custom-file-input txtboxdesign inputFont" id="customFile" name="filename">
                        <label id="fileuploadfile" class="custom-file-label fileuploadfile txtboxdesign inputFont" for="customFile">Choose file</label>
                    </div>

                </div>
                <div class="col-md-2 nextrow">

                    <button type="button" class="btn btn-dark com_fle_upload btnSave btnCommon btnCommonAll" style="color:white;width:100%;">Save</button>

                    <button type="button" class="btn btn-block btn-dark btn_own_tran_Update txtboxdesign btnCommonAll" style="color:white;display:none">Update</button>


                </div>
                <div class="col-md-1 nextrow"></div>
               

            </div>
        </div>
        <div style="padding-top:20px;">

        </div>

        <div class="alldiv">
            <div class="altblhead">
                <h2 class="hdrRobiAxia">Existing List</h2>
            </div>
            <table class="table" id="tbl_DoNotSimChange">
                <thead>
                    <tr>
                        <th class="dvRobiMedium" style="width:50px;text-align:center;">#</th>
                        <th class="dvRobiMedium" scope="col" style="text-align:center;">MSISDN</th>
                        <th class="dvRobiMedium" scope="col" style="text-align:center;">Simserialoriccid</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbl_DoNotSimChange_List"></tbody>
            </table>
        </div>
    </div>
</div>

<script>

    document.onreadystatechange = function () {

        var state = document.readyState
        if (state == 'complete') {
            setTimeout(function () {
                document.getElementById('interactive');
                document.getElementById('load').style.visibility = "hidden";
            }, 1500);
        }
    }
</script>

